* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: rgb(212, 235, 255);
    width: 100%;
    height: auto;
    justify-items: center;
}

nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li{
    font-size: 1.5rem;
    width: 100px;
    text-align: center;
    cursor: pointer;

}

nav ul li:hover{
    background-color: rgb(46, 157, 255);
}

nav {
    background-color: rgb(151, 207, 255);
    height: auto;

}

main{
    height: fit-content;
    display: flexbox;
    padding-inline: 40px;
    font-size: 1.5rem;
}

main * {
    margin-top: 30px;
    border-radius: 20px;
    padding-inline: 20px;
}

footer {
    background-color: darkgrey;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 1.5em;
}

#page-title {
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
}

.card{
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-color:rgb(193, 226, 255);
}

.card-title{
    align-self: center;
}

#fig-figcap{
    background-color:rgb(193, 226, 255);
}

